* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  --light-background-color: #f3f3f3;
  --light-text-color: #4c4f65;
  --button-color: linear-gradient(270deg, #f06449, #ef3636);
  --button-hover-color: #1b2e63;
  --button-gradient-hover-color: linear-gradient(270deg, #235aa6, #101b3b);
  --white-color: #fff;
  --black-color: #000;
  --heading-text-color: #4a4a4a;
  --heading-font: "Montserrat", sans-serif;
  --subheading-text-color: #f06449;
  --sub-heading-font: "Montserrat", sans-serif;
  --footer-color: #1c1d25;
  --page-width: 1240px;
  --text-font: "Nunito Sans", sans-serif;
  --button-transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  text-transform: uppercase;
}

p,
a,
span,
strong,
button {
  font-family: var(--text-font);
  font-size: 1.6rem;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--light-text-color);
  font-weight: 600;
}

.page-width {
  max-width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

button,
.button {
  color: var(--white-color);
  background: var(--button-color);
  padding: 12px 30px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  border: none;
  cursor: pointer;
}

button::before,
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--button-gradient-hover-color);
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: var(--button-transition);
}

button:hover::before,
.button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.underlined__link {
  position: relative;
}

.underlined__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: var(--button-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: var(--button-transition);
}

.underlined__link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  background: var(--button-gradient-hover-color);
}

.go-to__link {
  position: absolute;
  top: 99.5%;
  left: 50%;
  transform: translate(-50%, -99.5%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.go-to__link .go-to__arrow {
  width: 2px;
  height: 40px;
  background: var(--light-text-color);
}

.go-to__link .go-to__arrow::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%) rotate(45deg) scale(0);
  width: 7px;
  height: 7px;
  border-right: 2px solid var(--light-text-color);
  border-bottom: 2px solid var(--light-text-color);
  visibility: hidden;
  transition: visibility 0.2s linear, transform 0.2s linear;
}

.go-to__link:hover .go-to__arrow::after {
  visibility: visible;
  transform: translate(-50%, -100%) rotate(45deg) scale(1);
}
